* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/*nav shit*/
/* Zordux#6992 was here*/
body {
  font-family: Courier New;
}
nav {
  background-color: black;
  border: 3px solid rgb(0, 250, 0);
  height: 60px;
  width: 100%;
}
label.logo {
  color: rgb(0, 250, 0);
  font-size: 35px;
  line-height: 60px;
  padding: 0 20px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a {
  border: 2px solid black;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  border-color: rgb(0, 250, 0);
  color: rgb(0, 250, 0);
  text-transform: uppercase;
}
.checkbtn {
  font-size: 30px;
  color: rgb(0, 250, 0);
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 80px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* Zordux#6992 was here*/
.background {
  background-color: rgb(0, 0, 0);
}
.flexbox-contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 17, 17);
}
.flexbox-navbar-containor {
  height: 57px;
  background-color: black;
}
.flexbox-mainpage {
  width: 100%;
  height: 100%;
  background-color: black;
  border: 3px solid rgb(0, 250, 0);
}
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.textthing1 {
  color: rgb(0, 250, 0);
  font-size: 40px;
  margin-left: 10%;
  margin-top: 50px;
}
.par1 {
  color: rgb(0, 250, 0);
  font-size: 25px;
  margin-top: 20px;
  margin-left: 13%;
}
.par2 {
  color: rgb(0, 250, 0);
  font-size: 25px;
  margin-top: 25px;
  margin-left: 13%;
}
